body{
	background-color: #1b242f;
	margin: 0;
}

header{
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 80px;
}

nav{
	float: right;
	padding: 20px;
}

nav a{
	text-decoration: none;
	color: #ffffff;
	padding: 15px;
}

nav a label{
	padding-right: 20px;
}

nav a label:hover{
	color: #fc0352;
}

.main{
	width: 100%;
	display: flex;
	margin-top: 30px; 
}

.frst{
	width: 30%;
	float: right;
	border-style: solid;
	border-color: #ffffff;
	margin-left: 30px;
	text-align: center;

}

.frst img{
	width: 80px;
	height: 80px;
}

.frst input{
  width: 60%;
  padding: 10px;
  margin: 15px;
}

.scnd input{
  width: 60%;
  padding: 10px;
  margin: 10px;
}

.scnd{
	width: 60%;
	border-style: solid;
	border-color: #ffffff;
	margin-left: 30px;
	text-align: center;
}

.scnd a button{
	padding: 10px;
	color: #ffffff;
	border-color: #ffffff;
	font-family: "Times, serif";
	background-color: #1b242f;
	margin-top: 20px;
}

.scnd a button:hover{
	opacity: 0.5;
}

.scnd button{
	background-color: #fc0352;
	border-color: #fc0352;
	padding: 5px;
	color: #ffffff;
	font-family: "Times, serif";
	font-size: 20px;
	margin-bottom: 5px; 
}

footer{
	display: flex;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.frstSide{
	width: 60%;
	margin: 0;
}

ul h3{
	color: #ffffff;
}

ul li{
	list-style-type: none;
	display: inline-block;
	padding: 20px;
}

ul li a{
	text-decoration: none;
	color: #ffffff;
}

ul li a img{
	width: 10%;
	height: 10%;
}

.scndSide{
	width: 40%;
}

.scndSide img{
	width: 250px;
	height: 120px;
}
